@font-face{
  font-family:'Hershey Futura';
  src:
    url('Hershey-Noailles-Futura-Duplex-Regular.woff2') format('woff2'),
    url('Hershey-Noailles-Futura-Duplex-Regular.woff') format('woff');
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:'Hershey Futura Bold';
  src:
    url('Hershey-Noailles-Futura-Duplex-Bold.woff2') format('woff2'),
    url('Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
  font-weight:700;
  font-style:normal;
  font-display:swap;
}
